body {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none !important;
  color: #000;
}

h1 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.underline {
  text-decoration-line: underline;
}

.bold {
  font-weight: 700;
}

.parent {
  background-color: #fff;
  margin: 4rem 8rem;
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.logo {
  object-fit: contain;
  object-position: center;
  overflow: hidden;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.menu-item {
  text-transform: uppercase;
}

.menu-item::after {
  content: '';
  background-color: #000;
  display: block;
  height: 1px;
  width: 0;
  transition: width 0.2s ease-in-out;
}

.menu-item:hover::after,
.menu-item.active::after {
  width: 35%;
}

.section {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
}

.section-one {
  flex: 1.1;
  display: flex;
  flex-direction: column;
}

.section-two {
  flex: 1.2;
  display: flex;
}

.title {
  font: 3.6rem Playfair Display, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.description {
  font-weight: 300;
  font-size: 1.24rem;
}

.action {
  display: flex;
  margin-top: 1.2rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.action-one {
  border-radius: 19px;
  background-color: #f2f0df;
  padding: 1rem 1.8rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.action-two {
  align-items: center;
  display: flex;
  gap: 0.6rem;
  font-weight: 400;
  font-size: 1.23rem;
}

.banner {
  border-radius: 19px;
  border: 1px solid #000;
  box-shadow: 15px 9px 30px 0px rgba(160, 160, 160, 0.25);
  background-color: #fff;
  margin-top: 2.8rem;
  padding: 2.3rem 2.4rem;
  display: flex;
  gap: 3.6rem;
}

.banner-title {
  font-weight: 200;
  font-size: 1.8rem;
}

.banner-subtitle {
  font-weight: 300;
  font-size: 1rem;
  margin: 0.4rem;
}

.div-17 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.div-18 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  aspect-ratio: 0.4783427495291902;
  width: 100%;
  padding: 50px 16px 16px 11px;
}
.img-3 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div-19 {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  margin-top: 404px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 7px 17px;
}
.span-8 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.span-9 {
  display: flex;
  flex-direction: column;
}
.div-20 {
  color: #000;
  white-space: nowrap;
  font: 700 16px/158% Poppins, sans-serif;
}
.div-21 {
  color: #505050;
  white-space: nowrap;
  font: 400 14px/158% Poppins, sans-serif;
}
.div-22 {
  color: #000;
  align-self: center;
  margin: auto 0;
  font: 400 17px/158% Poppins, sans-serif;
}
.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 23%;
  margin-left: 20px;
}
.div-23 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.div-24 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  aspect-ratio: 1.0119521912350598;
  width: 100%;
  padding: 50px 11px 12px;
}
.img-4 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.span-10 {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  margin-top: 124px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  padding: 11px 17px;
}
.span-11 {
  display: flex;
  margin-top: 5px;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
.div-25 {
  color: #000;
  white-space: nowrap;
  font: 700 16px/158% Poppins, sans-serif;
}
.div-26 {
  color: #505050;
  margin-top: 5px;
  white-space: nowrap;
  font: 400 14px/158% Poppins, sans-serif;
}
.div-27 {
  background-color: #e4e4e4;
  align-self: stretch;
  width: 1px;
  height: 44px;
}
.div-28 {
  color: #000;
  align-self: center;
  margin: auto 0;
  font: 400 17px/158% Poppins, sans-serif;
}
.div-29 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  aspect-ratio: 1.0119521912350598;
  margin-top: 29px;
  width: 100%;
  padding: 50px 11px 12px;
}
.img-5 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.span-12 {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  margin-top: 124px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  padding: 11px 17px;
}
.span-13 {
  display: flex;
  margin-top: 5px;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
.div-30 {
  color: #000;
  white-space: nowrap;
  font: 700 16px/158% Poppins, sans-serif;
}
.div-31 {
  color: #505050;
  margin-top: 5px;
  white-space: nowrap;
  font: 400 14px/158% Poppins, sans-serif;
}
.div-32 {
  background-color: #e4e4e4;
  align-self: stretch;
  width: 1px;
  height: 44px;
}
.div-33 {
  color: #000;
  align-self: center;
  margin: auto 0;
  font: 400 17px/158% Poppins, sans-serif;
}
